<section>
  <div class="page-header">
    <h1>Adminsystems</h1>
  </div>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-primary" ui-sref="staffs.list">Staffs</a>
  </div>
  <p class="clearfix">&nbsp;</p>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-primary" ui-sref="adminservices.list">Serives</a>
  </div>
  <p class="clearfix">&nbsp;</p>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-primary" ui-sref="setups.list">Notifications</a>
  </div>
    <p class="clearfix">&nbsp;</p>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-primary" ui-sref="settingsaccounts.list">Accounts settings</a>
  </div>
</section>
