<div class="jumbotron appinterjum">
    <div class="container appinterbox">
        <div class="row">
            <div class="col-md-6">
                <h1>Your booking pages</h1>
                <p>Book customers 24 hours a day with a tailored web page all about your business. Check out  your live Booking Page:</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#" role="button">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Setup your booking
                    </a>
                    <a class="btn btn-default btn-lg" href="#" role="button">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Home page
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="/modules/appintegrations/client/img/bookingsytem.jpg" class="appimg" alt="logotheme">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Intergrations</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron interjum">
            <div class="row">
                <div class="col-md-3">
                    <img src="/modules/appintegrations/client/img/fb-art.png" class="interimg" alt="logotheme">
                </div>
                <div class="col-md-8">
                    <h3>Facebook</h3>
                    <p>Seamlessly move followers from likes and shares to booking an appointment.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron interjum">
            <div class="row">
                <div class="col-md-3">
                    <img src="/modules/appintegrations/client/img/wordpress.png" class="interimg" alt="logotheme">
                </div>
                <div class="col-md-8">
                    <h3>Wordpress</h3>
                    <p>Add your Setmore Booking Page to your WordPress-powered website.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron interjum">
            <div class="row">
                <div class="col-md-3">
                    <img src="/modules/appintegrations/client/img/mailchimp-logo-750.png" class="interimg" alt="logotheme">
                </div>
                <div class="col-md-8">
                    <h3>MailChimp</h3>
                    <p>Export Setmore customer data straight to your email marketing campaigns.</p>
                </div>
            </div>
        </div>
    </div>
</div>
