<div class="setting_tab col-md-12 col-xs-12 col-sm-12" style="margin-bottom:20px">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a aria-controls="home" role="tab" data-toggle="tab">Account</a>
    </li>
    <li role="presentation">
      <a ui-sref="staffs.list" data-target="staffs.list" aria-controls="home" role="tab" data-toggle="tab">Staff</a>
    </li>
    <li role="presentation">
      <a ui-sref="adminservices.list" data-target="adminservices.list" data-toggle="tab">Service</a>
    </li>
    <li role="presentation">
      <a href="#settings" data-target="#settings" data-toggle="tab">Payment</a>
    </li>
    <li role="presentation">
      <a ui-sref="setups.list" data-target="#setups.list" data-toggle="tab">Notifications</a>
    </li>
  </ul>
</div>
<div class="col-md-4 col-sm-6 col-xs-6">
  <h2>Account</h2>
  <div class="col-md-12 col-sm-12 col-xs-12" style="color:#c1c8cd;margin-bottom: 10px;">
  	<a ui-sref="settingsaccounts.list" class="list-group-item">PREFERENCES</a>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="font-weight: bolder;">
    <p class="list-group-item"> EXPORT SCHEDULE</p>
  </div>
</div>
<div class="col-md-8 col-sm-6 col-xs-6">
	<h2>Export Appointment History Data</h2>
	<div class="bordertop">&nbsp;</div>
	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="col-md-6 col-sm-6 col-xs-6">
			Date Range Start
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<datepicker date-format="yyyy-MM-dd">
			  <input ng-model="start_date" type="text" class="form-control"/>
			</datepicker>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="col-md-6 col-sm-6 col-xs-6">
			Date Range End
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<datepicker date-format="yyyy-MM-dd">
			  <input ng-model="end_date" type="text" class="form-control"/>
			</datepicker>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12" style="clear:both;margin-top: 15px">
		<div class="col-md-3 col-sm-4 col-xs-4">
			<select class="form-control" ng-model="services_list" ng-init="services_list = '0'">
				<option value='0' selected>All Services</option>
				<option ng-repeat="service in vm.services" value="{{service._id}}">
          {{service.name}}
       	</option>
			</select>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-4">
			<select class="form-control" ng-model="customers_list" ng-init="customers_list = '0'">
				<option value='0' selected>All Resources</option>
				<option ng-repeat="customer in vm.customers" value="{{customer._id}}">
          {{customer.name}}
       	</option>
			</select>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-4">
			<input class="btn btn-primary" value="Submit" type="button" ng-click="vm.submit_search()">
		</div>
	</div>
	<div ng-if="vm.show_table" class="col-md-12 col-sm-12 col-xs-12" style="clear:both;margin-top: 15px;text-align: center">
		 <div id="grid1" ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter class="grid"></div>

		 <input class="btn btn-primary" value="Export to xls" type="button" ng-click="vm.exportToExcel('#export_table')" style="margin-top: 20px;">

		 <div id="export_table" style="display: none;">
      <table border="1">
        <thead>
          <tr class="table-header">
            <th>Start time</th>
            <th>End time</th>
            <th>Service name</th>
            <th>Customer name</th>
            <th>Customer phone</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in gridOptions.data" >
            <td>{{item.start_time}}</td>
            <td>{{item.end_time}}</td>
            <td>{{item.service_name}}</td>
            <td>{{item.customer_name}}</td>
            <td>{{item.customer_phone}}</td>
            <td>{{item.status}}</td>
          </tr>         
        </tbody>
      </table>
    </div>
 	</div>
</div>

<style type="text/css">
  .bordertop{
    border-top: 1px dotted gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ._720kb-datepicker-calendar{
  	position: fixed !important;
  }
  ._720kb-datepicker-open{
  	width:10% !important;
  }
</style>
