<section>
  <div class="page-header">
    <h1>Calendars</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="calendar in vm.calendars"
       ui-sref="calendars.view({ calendarId: calendar._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="calendar.created | date:'mediumDate'"></span>
        by
        <span ng-if="calendar.user" ng-bind="calendar.user.displayName"></span>
        <span ng-if="!calendar.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="calendar.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.calendars.$resolved && !vm.calendars.length">
    No Calendars yet, why don't you <a ui-sref="calendars.create">create one</a>?
  </div>
</section>
