<table class="table table-striped">
	<tr>
		<th width="35%">Service name</th>
		<th>Time</th>
		<th>Price</th>
		<th>Staff</th>
		<th>&nbsp;</th>
	</tr>
	<tr ng-repeat="service in vm.listService">
		<td>
			<input name="name" type="text"  ng-click="vm.currentService = service" ng-model="service.name" id="name" class="form-control" placeholder="Name" ng-change=" vm.currentService = service; vm.updateService()">
		</td>
		<td>
			<input name="sduration" type="number"  ng-click="vm.currentService = service" min="0" ng-model="service.sduration" id="sduration" class="form-control" placeholder="45m" ng-change=" vm.currentService = service; vm.updateService()">
		</td>
		<td>
			<input name="sprice" type="number"  ng-click="vm.currentService = service" min="0" ng-model="service.sprice" id="sprice" class="form-control" placeholder="0$" ng-change=" vm.currentService = service; vm.updateService()">
		</td>
		<td>
			<div ng-dropdown-multiselect  ng-click="vm.currentService = service" options="vm.staffOfCompany" selected-model="service.staffs" checkboxes="true" extra-settings="vm.settingStaffSelect" translation-texts="vm.textStaffSelect" events="vm.changeSelectStaff"></div>
		</td>
		<td>
			<span class="pull-right" ng-if="vm.listService.length > 1" ng-click="vm.currentService = service; vm.deleteService()"><i class="glyphicon glyphicon-remove line30"></i></span>&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			<input name="name" type="text" ng-model="vm.newService.name" id="name" class="form-control" placeholder="Name">
		</td>
		<td>
			<input name="sduration" type="number" min="0" ng-model="vm.newService.sduration" id="sduration" class="form-control" placeholder="45m">
		</td>
		<td>
			<input name="sprice" type="number" min="0" ng-model="vm.newService.sprice" id="sprice" class="form-control" placeholder="0$">
		</td>
		<td>
			<div ng-dropdown-multiselect options="vm.staffOfCompany" selected-model="vm.newService.staffs" checkboxes="true" extra-settings="vm.settingStaffSelect" translation-texts="vm.textStaffSelect"></div>
		</td>
		<td>
			<button type="submit" class="btn btn-primary" ng-click="vm.addService()">Add</button>
		</td>
	</tr>
</table>
<!-- <div class="row" ng-repeat="staff in vm.listStaff">
	<div class="col-xs-1">
		<img src="/themes/admin/images/user-avatar50x50.png" width="40">
	</div>
	<div class="col-xs-4">
		<input name="name" type="text" ng-model="staff.name" id="name" class="form-control" ng-click="vm.currentStaff = staff" placeholder="Name" ng-change="vm.updateStaff()">
	</div>
	<div class="col-xs-4">
		<input name="email" type="text" ng-model="staff.email" id="email" class="form-control" ng-click="vm.currentStaff = staff" placeholder="Email" ng-change="vm.updateStaff()">
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-1">
		<img src="/themes/admin/images/user-avatar50x50.png" width="40">
	</div>
	<div class="col-xs-4">
		<input name="name" type="text" ng-model="vm.newStaff.name" id="name" class="form-control" placeholder="Name">
	</div>
	<div class="col-xs-4">
		<input name="email" type="text" ng-model="vm.newStaff.email" id="email" class="form-control" placeholder="Email">
	</div>
	<div class="col-xs-2">
		<button class="btn btn-primary" ng-click="vm.addStaff()">Add</button>
	</div>
</div> -->