<nav class="navbar navbar-default mainmenutop">
    <div class="navbar-header">
        <a class="navbar-brand iconnav" href="#">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-header">
        <span class="navbar-brand maintitle" href="#">
            Main station
        </span>
    </div>
    <div class="nav navbar-nav navbar-right logout">
        <span class="navbar-brand userstaff">
            <a href="#">Ivanka</a><br>
            <span id="department">Staff</span>
        </span>
        <a class="navbar-brand iconnav" href="#">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
    </div>
    <div class="nav navbar-nav navbar-right login" style="display: none;">
        <a class="navbar-brand iconnav" href="#">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </a>
    </div>
</nav>