<ul class="nav nav-stacked navleft" oleft-navi>
    <li class="navlogo">
        <a href="/mainstations"><img alt="Logo" src="/modules/core/client/img/brand/PointofSalesLogo-35.svg"></a>
    </li>
    <li role="presentation"><a href="#">Adjustment of Orders</a></li>
    <li role="presentation"><a href="#">Order History</a></li>
    <li role="presentation"><a href="/stations#kitchen">Kitchen Station</a></li>
    <li role="presentation"><a href="/stations#drink">Drink Station</a></li>
    <li role="presentation"><a href="/orders">Order Station</a></li>
    <li role="presentation"><a href="#">Internal Task</a></li>
    <li role="presentation"><a href="/staffs">Setting</a></li>
    <li role="presentation"><a href="#">Account Plans</a></li>
    <li role="presentation"><a href="/salesreports">Sales Report</a></li>
    <li role="presentation"><a href="#">Helps & Support</a></li>

    <li class="active navlogo">
        <img alt="Logo" src="/modules/core/client/img/brand/PointofSalesLogo-35.svg">
    </li>
</ul>