@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.fullbox_user{
    background: #00cad3;
    background: -moz-linear-gradient(to right,  #00cad3, #3dc6f3);
    background: -webkit-linear-gradient(to right, #00cad3, #3dc6f3);
    background: linear-gradient(to right, #00cad3, #3dc6f3);
    background: -o-linear-gradient(to right,  #00cad3, #3dc6f3);
    background: -ms-linear-gradient(to right,  #00cad3, #3dc6f3);
    display: table;
    float: left;
    height: 100vh;
    margin:0;
    padding: 0;
    width: 100%;
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button :hover {
  opacity: 0.65;
}
.titlepanel {
  color: #777;
  font-size: 20px;
  padding-top: 27px;
}
.boxsignin {
/*  border-bottom: 1px solid #f9edb9;
  border-left: 1px solid #fffffb;
  border-right: 2px solid #fffdfa;
  border-top: 2px solid #ffe4ba;*/
  float: left;
  margin: 0 31% 5% 31%;
  width: 38%;
}
.boxformsignin {
  float: left;
  margin: 1% 10% 1% 10%;
  padding-bottom:7%;
  width: 80%;
}

.alert-danger {
  background: #f2dedf;
  border-color: #f4dadb;
  border-radius: 7px !important;
}
.boxsignin .form-control {
  padding: 22px 12px;
}
.boxsignin .input-group-addon {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  color: #9a9a9a;
  font-size: 17px;
  font-weight: normal;
  line-height: 0;
  padding: 6px 16px;
}
.boxsignin .input-group {
  margin-bottom: 20px;
}
.boxsignin .input-group input {
  border-bottom-right-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.boxsignin .checkbox label {
  color: #555;
}
.loginbt, .loginbt:hover {
  background: #383838!important;
  color: white!important;
  text-transform: uppercase;
}
.loginbt:focus {
  border: none;
  outline: none!important;
}
.input-group-alert {
  font-size: 11px;
  margin-top: 41px;
  position: absolute;
}
.boxsignin .has-error .form-control {
  border: 1px solid #ccc;
}
.boxsignin .has-error .input-group-addon {
  background: #a94442;
  border: 1px solid #ccc;
  color: white;
}
.booktraqlogo{
  margin-bottom: 0;
  margin-top:15px;
  padding-bottom: 0; 
  width: 100%;
}
.btlogo{
  width: 35%;
}
.mainfooter{
  width: 100%;
  float: left;
  text-align: center;
  color: white;
}
.logo{
  width: 203px;
}

/* Tablet */
@media (min-width: 900px) and (max-width: 1024px){
  .boxsignin{
        margin: 5% 15% 5% 15%;
        width: 70%;
  }
}

/*Mobile 1*/
@media (min-width: 601px) and (max-width: 900px ) {
  .boxsignin {
        margin: 5% 5% 5% 5%;
        width: 90%;
  }
  .boxformsignin {
      float: left;
      margin: 1% 5% 1% 5%;
      padding-bottom: 7%;
      width: 90%;
  }
  .logo{
    margin-top: 20px;
  }
}

/*Mobile iphone */
@media (max-width: 600px){
  .boxsignin{
        margin: 1% 2% 1% 2%;
        width: 96%;
  }
  .boxformsignin {
      float: left;
      margin: 1% 0 1% 0;
      padding-bottom: 3%;
      width: 100%;
  }
  .logo{
    margin-top: 50px;
  }
}