<div class="fullbox" ng-controller="MainstationsListController as vm">
	<div ng-include="'/modules/core/client/views/header.client.view.html'" class=""></div>
	
	<div class="container-fluid">
		<div class="row nomargin" >
			<div class="col-md-5 nopadding">
				<div class="posheader textblue bt1">Table Number</div>
				<a href="/togo"><span class="posbutton btn-blue bt2">Togo</span></a>
				<a href="#"><span class="posbutton btn-blue bt2" >On Account</span></a>
				<a href="#"><span class="posbutton btn-blue bt2">Online</span></a>
				<a href="#"><span class="posbutton btn-blue bt2" >Delivery</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">1</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">2</span></a>
				<a href="#"><span class="posbutton btn-yellow bt4 seated">
					3<br>
					<span class="dolar">$43.50</span><br>
					<span class="timer">16:50</span>
				</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">4</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">5</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">6</span></a>
				<a href="#"><span class="posbutton btn-black bt4 seated">
					7<br>
					<span class="dolar">$25.00</span><br>
					<span class="timer">17:50</span>
				</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">8</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">9</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">10</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">11</span></a>
				<a href="#"><span class="posbutton btn-brow bt4">12</span></a>
				<a href="#"><span class="posbutton btn-brow bt4">13</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">14</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">15</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">16</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">+</span></a>
				<a href="#"><span class="posbutton btn-blue bt4">-</span></a>
			</div>
			<div class="col-md-7 nopadding">
				<div class="row nomargin" >
					<div class="col-md-5 nopadding bttopright">
						<div class="posheader textbrow bt1">Join table</div>
						<a href="#"><span class="posbutton btn-brow bt1">Join</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">9 + 10 + 11</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">9 + 10 + 11</span></a>
					</div>
					<div class="col-md-7 nopadding maincontrol">
						<a href="#"><span class="posheader textbrow bt1">Main Control</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">Digital Menuboad</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">Menu on Website</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">Process management</span></a>
						<a href="#"><span class="posbutton btn-blue bt1">Inventory Report</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="changetablebox">
			<div class="changeform">
				<h3 class="textbrow">Change Table:</h3>
				<form>
					Form
					<select>
						<option value="1">Table 1</option>
					</select>
					To
					<select>
						<option value="2">Table 2</option>
					</select>
					<input type="submit" name="submit" value="Apply">
				</form>
			</div>
			<div class="colormap">
				<ul class="colorlist">
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
					<li>
						<span class="coloricon">C</span>
						<span class="colortext">Not Paid</span>
					</li>
				</ul>
			</div>
		</div>

	</div>

</div>
