<div class="col-md-4 col-sm-6 col-xs-6">
  <h2>Account</h2>
  <div class="col-md-12 col-sm-12 col-xs-12" style="color:#c1c8cd;margin-bottom: 10px;">
  	<a ui-sref="settingsaccounts.list" class="list-group-item">PREFERENCES</a>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="font-weight: bolder;">
    <p class="list-group-item"> EXPORT SCHEDULE</p>
  </div>
</div>
<div class="col-md-8 col-sm-6 col-xs-6">
	<h2>Export Appointment History Data</h2>
	<div class="bordertop">&nbsp;</div>
</div>
<style type="text/css">
  .bordertop{
    border-top: 1px dotted gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
  }
</style>
