<div id="plans-content-wrap">

	<div class="twelve columns center-text">
		<h2>Setmore Plans &amp; Pricing</h2>
	</div>

	<div class="row col-md-12">
		<div class="col-md-4 four columns" style="height: 900px;">
			<div class="plan-col" id="free-plan" style="height: 100%;">
				<div class="plan-header">
					<div><img src="/modules/accountplans/client/img/icon-18.png" width="75px"></div>
					<h3 style="font-weight: bold;">BASIC</h3>
					<h2>$0</h2>
					<p>Billed... never :)</p>
					<a href="javascript:void(0)" class="button freePlanButton removeButton " selectedplan="freePlan_v3">CURRENT PLAN</a>
				</div>
				<div class="plan-body">
					<ul class="ticks current-free-plan-content">
						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

					</ul>
				</div><!-- end plan-body -->
			</div><!-- end price-col -->
		</div>


		<div class="col-md-4 four columns">
			<div class="plan-col" id="annual-plan" style="height: 900px;">
				<div class="plan-header">
					<div><img src="/modules/accountplans/client/img/icon-17.png" width="73px"></div>
					<h3 style="font-weight: bold;">PLATINUM</h3>
					<h2>$10<span>/mo</span></h2>
					<p>Billed $199 annually</p>
					<a href="#" ng-click="vm.showModal();" selectedplan="premiumPlan_v4_yearly" class=" button selectedPlanType goPremium">CHOOSE PLAN <i class="glyphicon glyphicon-arrow-right"></i></a>
					<!-- <div id="money-back-badge">
						<a target="_blank" href="http://support.setmore.com/article/361-trial-period-for-premium-plans"><img src="/modules/accountplans/client/img/money-back-badge.png" alt="30 Day Money Back Guarantee"></a>
					</div> -->
					<div id="best-value">
						<img src="/modules/accountplans/client/img/icon-20.png" alt="Best Value">
					</div>
				</div>
				<div class="plan-body">
					<ul class="ticks current-plan-yearly-content">
						<li>Up to 20 Staff schedules</li>
						<li>Unlimited Appointments</li>
						<li>iOS &amp; Android App</li>
						<li>Custom Booking Page</li>

						<li class="strong-text">Unlimited SMS Reminders
							<span class="info-tip">?
								<p>Reduce no-shows with automatic text message reminders
								</p>
							</span>
						</li>

						<li class="strong-text">
							Online Payments
							<span class="info-tip">?
								<p>Take customer payments with Stripe
								</p>
							</span>
						</li>

						<li class="strong-text">
							Customized Notifications
							<span class="info-tip">?
								<p>Create and add your own messaging to SMS reminders
								</p>
							</span>
						</li>

						<li class="strong-text">
							Google 2-way Sync
							<span class="info-tip">?
								<p>Appointments auto-import to your Google calendar &amp; vice-versa
								</p>
							</span>
						</li>

						<li class="strong-text">
							Outlook 2-way Sync
							<span class="info-tip">?
								<p>Appointments auto-import to your Outlook calendar &amp; vice-versa
								</p>
							</span>
						</li>

						<li class="strong-text">
							Recurring Appointments
							<span class="info-tip">?
								<p>Automatically repeat future appointments at preset intervals
								</p>
							</span>
						</li>

						<li class="strong-text">
							Recurring Classes
							<span class="info-tip">?
								<p>Automatically repeat class bookings for maximum convenience
								</p>
							</span>
						</li>

						<li class="strong-text">
							Remove Setmore Branding
							<span class="info-tip">?
								<p>Remove Setmore branding from emails and the booking page
								</p>
							</span>
						</li>
					</ul>
				</div><!-- end plan-body -->
			</div><!-- end price-col -->
		</div>



		<div class="col-md-4 four columns" style="height: 900px;">
			<div class="plan-col" id="monthly-plan" style="height: 100%;">
				<div class="plan-header">
					<div><img src="/modules/accountplans/client/img/icon-19.png" width="72px"></div>
					<h3 style="font-weight: bold;">DIAMOND</h3>
					<h2 class="premiumCost">$25<span class="validity">/mo</span></h2>
					<p>Billed month-to-month</p>
					<a href="javascript:void(0)" selectedplan="premiumPlan_v3" class=" button selectedPlanType goPremium">CHOOSE PLAN <i class="glyphicon glyphicon-arrow-right"></i></a>
				</div>
				<div class="plan-body">
					<ul class="ticks current-plan-content">
						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

						<li><span class="glyphicon glyphicon-ok"></span></li>

					</ul>
				</div><!-- end plan-body -->
			</div><!-- end price-col -->
		</div>
	</div>

		
	<div class="popup-footer">
		<div class="premium-popup-footer">
				<ul>
					
						<li><a href="javascript:showCloseAccFeedbackPopup();">Close my account</a></li>
					
					
				</ul>
		</div>
	 	<div class="free-plan-popup-footer" style="display:none !important;">
			<span>If you'd like to close your account click <a href="javascript:showCloseAccFeedbackPopup();">here</a>.</span>	<!-- showNewCloseAccountPopUp(); -->
		</div>
	</div>
</div>