<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default text-left bookpanel bacsicblan">
            <div class="panel-heading">
                <img src="/modules/accountplans/client/img/icon-18.png" alt="bacsic icon">
                <h3 class="panel-title">Basic</h3>
            </div>
            <div class="panel-body">
                <span class="price">FREE</span>
                <span class="period">Forever</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Up to 100 booking/month
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    24/7 Technical Support
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Up to 5 Staff schedules<br>&nbsp;&nbsp;
                </li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item bookbt">
                    <a href="#" class="btn btn-primary btn-lg">Bacsic Plan</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary text-left bookpanel platinumblan">
            <div class="regular">&nbsp;</div>
            <div class="panel-heading">
                <img src="/modules/accountplans/client/img/icon-17.png" alt="bacsic icon">
                <h3 class="panel-title">Platinum</h3>
            </div>
            <div class="panel-body">
                <span class="price">$10/month</span>
                <span class="period">billed $120 annually</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                     Up to 1500 booking/month
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    24/7 Technical Support
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Up to 25 Staff schedules
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    iOS & Android App
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Online Payments
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Customized Notificaations
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Google Calendar Sync
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Outlook Calendar Sync
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Remove Visual Impact Logo<br>&nbsp;&nbsp;
                </li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item bookbt">
                    <a href="#" class="btn btn-primary btn-lg">Upgrade</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default text-left bookpanel diamondplan">
            <div class="panel-heading">
                <img src="/modules/accountplans/client/img/icon-19.png" alt="bacsic icon">
                <h3 class="panel-title">Diamond</h3>
            </div>
            <div class="panel-body">
                <span class="price">$25/month</span>
                <span class="period">billed $180 annually</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                     Unlimited booking transaction
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    24/7 Technical Support
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Unlimited Staff schedules
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    iOS & Android App
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Online Payments
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Customized Notificaations
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Google Calendar Sync
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Outlook Calendar Sync
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Remove Visual Impact Logo
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Create and manage 5 retail locations
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Manage Sales Report
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Professional HRM
                </li>
                <li class="list-group-item"> 
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Internal MailBox and Chatting
                </li>
                <li class="list-group-item bookbt">
                    <a href="#" class="btn btn-primary btn-lg">Go Pro</a>
                </li>
            </ul>
        </div>
    </div>
</div>